.maindiv{
    margin-top: 5%;
    margin-right: 32%;
    margin-left: 32%;
}
.btndiv{
    text-align: right; margin-bottom: 15%;
}
.namediv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottommargininfields{
    margin-bottom: -2%;
}
.mbt5{
    margin-top: 5%;
    margin-bottom: 5%;
}
.mt1{
    margin-top: 1%;
}
.tac{
    text-align: center;
}
.w100{
    width: 100%;
}

