<div class="maindiv">
    <form [formGroup]="user" (ngSubmit)="submitdata()">
        <mat-card>
            <div class="mbt5">
                <div class="tac">
                    <img src="assets/fundoologo.png" height="80" width="156">
                </div>
                <mat-card-title class="mt1 tac"> Account Recovery </mat-card-title>
                <div class="bottommargininfields">
                    <p>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput type="email">
                        </mat-form-field>
                    </p>
                </div>
                <div class="btndiv">
                    <button mat-raised-button color="primary">Next</button>
                </div>
            </div>
        </mat-card>
    </form>
</div>