.maindiv{
    margin-top: 5%;
    margin-right: 32%;
    margin-left: 32%;
}
.btndiv{
    float: center;
}
.namediv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottommargininfields{
    margin-bottom: -2%;
}
