.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .sidenavitem a:hover
  {
      background-color: #feefc3;
      border-radius: 45px;
  }
  .wid20{
      width: 20%;
  }
.search-bar {
  margin-left: 10%;
width: 50%;
margin-right: 5%;
}

.searchinput{
  outline: none; border: none;
}
mat-card{padding: 4px;}
.br50{
  border-radius: 50%;
}
.username{
  border-radius: 100px;
  padding: 8px;
}
.sobtn{
  margin-left: 30%;
}
.sobtn, .username{
  border: 1px solid #dadce0;
}
