<div class="maindiv">
    <mat-card>
        <div style="margin-top: 5%;margin-bottom: 5%;">
            <div style="text-align:center">
                <img src="assets/fundoologo.png" height="80" width="156">
            </div>
            <mat-card-title style=" margin-top: 1%;text-align:center"> Reset your Password </mat-card-title>
            <div class="bottommargininfields">
                <p>
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email">
                    </mat-form-field>
                </p>
            </div>
            <div class="bottommargininfields">
                <p>
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Enter New Password</mat-label>
                        <input matInput type="password">
                    </mat-form-field>
                </p>
            </div>
            <div class="bottommargininfields">
                <p>
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label> Confirm New Password</mat-label>
                        <input matInput type="password">
                    </mat-form-field>
                </p>
            </div>
            <div style="text-align: right;">
                <button mat-raised-button color="primary">Reset</button>
            </div>
        </div>
    </mat-card>
</div>