.container{
    display: flex;
    flex-wrap: wrap;
    margin: 5% 10%;
    align-items: flex-start;
    width: 80%;
}
.note-card{
    min-width: 200px;
    min-height: 90px;
    max-width: fit-content;
    max-height: fit-content;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 4px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.note-card:hover{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.note-card:hover .icon-menudiv {
    visibility: visible;
}

p{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
}
.icon-menudiv{
  visibility: hidden;  
}

