<div class="maincontainer">
    <div *ngIf="!ishidden">
        <mat-card class="example-card">
            <input matInput type="text" (click)="toggleDisplay()" placeholder="Take a note...">
        </mat-card>
    </div>
    <div *ngIf="isShow" class="titledesiconcontainer">
        <form [formGroup]="note" (ngSubmit)="onSubmit()">
            <mat-card class="example-card">
                <div class="dispflex">
                    <input matInput type="text" formControlName="title" placeholder="Title">
                    <button type="button" matTooltip="Pin/Unpin" mat-button>
                        <img src="https://i.stack.imgur.com/d1JEp.png" alt="" height="30" width="30">
                    </button>
                </div>

                <input matInput type="text" formControlName="description" placeholder="Description">
                <div class="dispflex">
                    <app-reminder-icon></app-reminder-icon>
                    <app-collaborator-icon></app-collaborator-icon>
                    <app-color-palette-icon [matMenuTriggerFor]="colorMenu"></app-color-palette-icon>
                    <app-add-image-icon></app-add-image-icon>
                    <app-archiveicon></app-archiveicon>
                    <app-moreicon [matMenuTriggerFor]="moremenu"></app-moreicon>
                    <mat-menu #moremenu="matMenu">
                        <button mat-menu-item>Add Label</button>
                    </mat-menu>
                    <button mat-button>Close</button>
                </div>

            </mat-card>
        </form>
    </div>
</div>
<mat-menu #colorMenu="matMenu" yPosition="above">
    <div class="icondiv">
        <input class="iconstyle whiteicon" type="button" mat-menu-item title="white" />
        <input class="iconstyle" type="image" mat-menu-item title="red"
            src="https://res.cloudinary.com/nikhilcloud007/image/upload/v1599752301/redcoloricon_kcg5mv.png" />
        <input class="iconstyle" type="image" mat-menu-item title="orange"
            src="https://res.cloudinary.com/nikhilcloud007/image/upload/v1599752301/orangecoloricon_fufor3.png" />
        <input class="iconstyle" type="image" mat-menu-item title="yellow"
            src="https://res.cloudinary.com/nikhilcloud007/image/upload/v1599752301/yellowcoloricon_quta5p.png" />
        <input class="iconstyle" type="image" mat-menu-item title="green"
            src="https://res.cloudinary.com/nikhilcloud007/image/upload/v1599752241/greencoloricon_aepokp.png" />
        <input class="iconstyle" type="image" mat-menu-item title="teal"
            src="https://res.cloudinary.com/nikhilcloud007/image/upload/v1599752301/tealcoloricon_ptlak8.png" />
        <input class="iconstyle" class="iconstyle" type="image" mat-menu-item title="blue"
            src="https://res.cloudinary.com/nikhilcloud007/image/upload/v1599750724/bluecoloricon_swr2ov.png" />
        <input class="iconstyle" type="image" mat-menu-item title="darkblue"
            src="https://res.cloudinary.com/nikhilcloud007/image/upload/v1599751259/darkbluecoloricon_pvfsm8.png" />
        <input class="iconstyle" type="image" mat-menu-item title="purple" alt="purple"
            src="https://res.cloudinary.com/nikhilcloud007/image/upload/v1599752301/purplecoloricon_bd0xsl.png" />
        <input class="iconstyle" type="image" mat-menu-item title="pink" alt="pink"
            src="https://res.cloudinary.com/nikhilcloud007/image/upload/v1599752301/pinkcoloricon_rho6yl.png" />
        <input class="iconstyle" type="image" mat-menu-item title="brown"
            src="https://res.cloudinary.com/nikhilcloud007/image/upload/v1599751173/browncoloricon_rammd7.png" />
        <input class="iconstyle" type="image" mat-menu-item title="grey" alt="grey"
            src="https://res.cloudinary.com/nikhilcloud007/image/upload/v1599752301/greycoloricon_a1p5lk.png" />
    </div>
</mat-menu>