.example-card {
    max-width: 600px;
    text-align: center;
    padding: 12px;
  }
  .example-card input{
    color: #839aad; outline: none; border:none; width: 80%; 
    font-family: Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .maincontainer{
      margin-left: 15%;
      margin-top: 1%;
  }
  .dispin{
      display: inline;
  }
  .titledesiconcontainer{
margin-top: 0%;
}
  .material-icons.md-light { color: rgba(255, 255, 255, 1); }
  .material-icons.md-18 { font-size: 18px; }
.dispflex{
  display: flex;flex-direction: row; justify-content: space-around; 
}
