.example-card {
    max-width: 600px;
    text-align: center;
    padding: 3px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .example-card input{
    color: #839aad; outline: none; border:none; width: 95%;
    font-family: Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .maincontainer{
    margin-left: 30%;
    margin-top: 3%;
  }
  .dispin{
      display: inline;
  }
  .titledesiconcontainer{
      margin-top: 0%;
}
  .material-icons.md-light { color: rgba(255, 255, 255, 1); }
  .material-icons.md-18 { font-size: 18px; }

.dispflex{
  display: flex;flex-direction: row; 
  justify-content: space-around; 
}
